/* Police rétro */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  background-color: #000;
  color: #ffd119;
  overflow-x: hidden;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Parallaxe */
.parallax {
  background-image: url("./assets/background.jpg");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  filter: brightness(0.5);
}

/* Structure */
.header-box,
.footer-box {
  text-align: center;
  background-color: #488af4;
  padding: 1rem;
  border: 2px solid #3168c0;
  margin: 1rem auto;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 0 8px #1f498d;
}

main {
  padding: 1rem;
  width: 90%;
  max-width: 800px;
  margin: auto;
}

/* Boîte RPG */
.quest-box {
  background-color: rgb(98, 84, 100, 0.6);
  border: 2px solid #fbb855;
  border-radius: 6px;
  margin: 1rem 0;
  padding: 1rem;
}

.quest-box summary {
  font-size: 0.7rem;
  color: #ffd119;
  cursor: pointer;
}

.quest-box pre {
  background-color: #9f4538;
  padding: 0.8rem;
  border: 1px dashed #fbb855;
  color: #fff;
  font-size: 0.65rem;
  margin-top: 0.5rem;
  white-space: pre-wrap;
}

#inventory-btn {
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: solid 2px grey;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .quest-box summary {
    font-size: 0.55rem;
  }

  .quest-box pre {
    font-size: 0.55rem;
  }
}
